*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: sans-serif;
}
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('https://img.freepik.com/free-photo/beautiful-blue-sky-with-white-clouds_1017-21760.jpg?t=st=1728276337~exp=1728279937~hmac=204b05dd0997f46712785bf4a3366321b9e0d6daa372ead3a6b5b0fbd8ab4e2e&w=900');
    background-size: cover;
    background-repeat: no-repeat;
}
.container{
    width: 400px;
    height: min-content;
    background-color: rgba(21, 118, 131, 0.627);
    border-radius: 12px;
    padding: 28px;
}
.search-box{
    width: 100%;
    height: min-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search-box input{
    width: 84%;
    font-size: 20px;
    text-transform: capitalize;
    color: #000;
    background-color: #a7ddf2;
    padding: 12px 16px;
    border-radius: 14px;
}
.search-box input::placeholder{
    color: #000;
}
.search-box button{
    width: 46px;
    height: 46px;
    background-color: #a7ddf2;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
}
.search-box button:hover{
    color:#fff ;
    background-color: #ababab;
}
.weather-body{
   display: none;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   margin-block: 20px;
}
.weather-body img{
    width: 40%;
}
.weather-box{
margin-block: 20px;
text-align: center;
}
.weather-box .temperature{
    font-size: 40px;
    font-weight: 800;
    position: relative;
}
.weather-box .temperature sup{
    font-size: 20px;
    position: absolute;
    font-weight: 600;
}
.weather-box .description{
    font-size: 20px;
font-weight: 700;
text-overflow: capitalize;
}
.weather-details{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.humidity, .wind{
    display: flex;
    align-items: center;
}
.humidity{
    margin-left: 20px;
}
.wind{
    margin-right: 20px;
}
.weather-details i{
    font-size: 36px;
}
.weather-details .text{
margin-left: 10px;
font-size: 16px;
}
.text span{
    font-size: 20px;
    font-weight: 700;
}
.location-not-found{
    margin-top: 20px;
    justify-content: center;
    display: none;
    align-items: center;
    flex-direction: column;
}
.location-not-found h1{
    font-size: 20px;
    color:#6b6b6b;
    margin-block-end: 15px;
}
.location-not-found img{
    width: 80%;
}